.idea/*
__pycache__/
venv/
.ipynb_checkpoints/
data_generation/data
pc_reconstruction/data
pose_estimation/DenseFusion/trained_models

label_generator/data
label_generator/data_sets
DenseFusion/trained_models
DenseFusion/experiments/*
.png

segmentation/logs
segmentation/data
segmentation/trained_models
pipeline/data

background_subtraction/logs
background_subtraction/data
background_subtraction/trained_models

experiments/data/



